.center {
	display: flex;
	justify-content: center;
}

.form {
	width: 700px;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

button {
	cursor: pointer;
}

.Particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom:  0;
	left:  0;
	z-index:  -1;
}

.bounding-box {
	position: absolute;
	box-shadow:  0 0 0 3px #ff672b inset;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:  wrap;
	flex-wrap:  wrap;
	-webkit-box-pack:  center;
	-ms-flex-pack:  center;
	justify-content: center;
	cursor:  pointer;
}